* {
    box-sizing: border-box;
  }
body{
    font-family: 'Barlow', sans-serif;
    /* width: 1440px; */
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 0%;
    overflow-x: hidden;
}
h1{
    color: #fff;
    text-align: center;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.5rem;
    line-height: 1.5;
    margin: 3% 7%;
    padding-top: 5;
    text-transform: uppercase;
    font-weight: 750;
}


.sunny{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    padding: 5px 8px;
    margin: 7px 8px 7px 15px;
    text-transform: none;
}
nav .navbar-nav li a{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    margin-right: 20px;
    text-transform: none;
    }
#buttonid{
    color:black;
    border-radius: 20px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 12px;
}
.header{
    background-image: url("images/desktop/image-header.jpg");
    height: 550px;
    background-size: 1300px;
    background-position: center; 
}
.arrow{
    display: block;
    margin: auto;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}
.transformText{
    background-color: white;
    padding: 10%;
    line-height: 1.5;
}
h2{
    font-family: 'Fraunces', serif;
    font-weight: 750;
    padding-bottom: 5%;
}
p{
    color: grey;
    padding: 0 10 17 10;
    margin-bottom: 10%;
}
a{
    color: black;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    text-decoration: none;
}
.image{
    width: 100%;
}
.background-image{
    height: 600px;
    max-width: 100%;
}
.graphic{
    background-image: url('images/desktop/image-graphic-design.jpg');
}
.photography{
    background-image: url('images/desktop/image-photography.jpg');
}

.headingOne{
    text-align: center;
    color: hsl(167, 40%, 24%);
}
.headingTwo{
    text-align: center;
    color: hsl(198, 62%, 26%);
}
.content{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50%; 
}
h3{
    text-align: center;
    font-family: 'Fraunces', serif;
    color: hsl(232, 10%, 55%);
    letter-spacing: 0.3rem;
    font-size: 20px;
    padding: 10% 15% 10% 15%;
}
.testimonialImage{
    border-radius: 100%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10%;
}
.testimonialParagraph{
    text-align: center;
    padding: 0% 10% 0% 10%;
    line-height: 1.5;
    color: hsl(213, 9%, 39%);
}
h4{
    text-align: center;
    color: black;
    font-family: 'Fraunces', serif;
    font-size: 20px;
}
h6{
    text-align: center;
    color: hsl(210, 4%, 67%);
}
.imageColumn{
    height: 500px;
}
.testimonialDiv{
    margin-bottom: 150px;
}
.footerClass{
    color: hsl(168, 34%, 41%);
    background-color: #A7D7C5;
    height: 300px; 
    font-family: 'Barlow', sans-serif;
    text-align: center; 
    padding-top: 55px;
    padding-bottom: 30px;
}
.footerHeading{
    font-family: 'Barlow', sans-serif;
    padding-bottom: 30px;
}
.anchor{
    padding-right: 50px;
    padding-left: 20px;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    text-transform: none;
}
a:hover{
    color: white;
}
.footerParagraph{
    margin-bottom: 70px;
}
.icon{
    margin-right: 30px;
    color: hsl(168, 34%, 41%);;
}
.attribution{
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    text-transform: none;
    height: 100px;
}
#buttonid:hover{
    background: lightskyblue;
    color: white;
}
a.learnMoreone:hover{
   color: black;
   text-decoration: underline;
   text-decoration-style: solid;
   text-decoration-color: yellow;
   text-decoration-thickness: 8px;
}
a.learnMoretwo:hover{
    color: black;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-thickness: 8px;
 }
 .icon:hover{
     color: white;
 }
 a.attribution:hover{
    color: grey;
 }
 @media (max-width: 376px) {
     .transformText{
         text-align: center;
         padding: 20% 4% 20% 4%;
        
     }
     h2{
         font-size: 30px;
         padding-left: 2%;
         padding-right: 2%;
     }
     .content{
         padding: 110% 2% 5% 2%;  
     }
     .graphic{
       background-position: 50% 50%;
     }
     .photography{
        background-position: 50% 50%;
     }
     h3{
         padding: 20% 4% 15% 4%;
         font-size: 15px;
     }
     h6{
         padding-bottom: 20%;
     }
     .testimonialDiv{
         margin-bottom: 5%;
     }
     .anchor{
         padding-left: 2%;
         padding-right: 8%;
     }
     .navbar-toggler{
         margin-right: 4%;
     }
     .imageColumn{
       height: 250px;
     }
     h1{
         margin: 10% 7%;
     }
     .transformRow{
         flex-flow: column-reverse nowrap;
     }
    .nav-item{
         text-align: center;
     }
     .btn-nav{
         text-align: center;
         padding-top: 3%;
     }
     #buttonid{
         color: black;
         background-color: yellow;
     }
     #navbarNav{
        position: -ms-page;
     }
     .navElement{
         z-index: 1;
     }
    .menu{
        position: absolute;
        top: 50px;
        left: 150px;
        background-color: white;
    }
    
 }